*,
*::before,
*::after {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


header {
    background-color: brown;
    position: relative;top: auto;
    padding: 1rem ;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}

nav li {
    display:inline;
    margin-left: 0.5rem;
}